<!DOCTYPE html>
<html>
  <head>
    <title>WatchTube</title>

    <%= favicon_link_tag 'logo.png' %>
    <%= csrf_meta_tags %>

    <!-- icons -->
    <script src="https://use.fontawesome.com/c372eff61a.js"></script>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
